* {
    background-color: rgb(202, 156, 81);
}

.head {
    text-align: center;
    font-family: "fantasy", papyrus;
    text-decoration-line: overline underline;
    color: rgb(109, 83, 52);
}
.ul {
    text-align: center;
    list-style-type: none;
    list-style-position: inside;
    font-family: "fantasy", copperplate;
    font-size: 20px;
    a:visited {
  color: rgb(109, 83, 52);
}
}